<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Cadastro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="aviso-erro">
    <form  id="erro" class="aviso-erro" id="erro" [formGroup]="form" (ngSubmit)="Cadastrar()">
        <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input name="nome" value="ender" formControlName="nome" type="nome" clearInput
                       clearOnEdit="false"></ion-input>
        </ion-item>
        <div *ngIf="form.controls['nome'].dirty && !form.controls['nome'].valid">
            <p *ngIf="form.controls['nome'].errors">* Apenas Letras</p>
        </div>

        <ion-item>
            <ion-label position="floating">Telefone/Celular</ion-label>
            <ion-input type="tel" name="celular" formControlName="celular" [brmasker]="{phone: true}" clearInput
                       clearOnEdit="false"></ion-input>
        </ion-item>
        <div *ngIf="form.controls['celular'].dirty && !form.controls['celular'].valid">
            <p *ngIf="form.controls['celular'].errors">* Número Inválido</p>
        </div>


        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" value="ender@gmail.co" formControlName="email" type="email"
                       placeholder="seu@email.com" clearInput clearOnEdit="false"></ion-input>
        </ion-item>
        <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
            <p *ngIf="form.controls['email'].errors">* Use Email Válido</p>
        </div>

        <ion-item>
            <ion-label>Tipo de Parceiro</ion-label>
            <ion-select name="tipo_parceiro" formControlName="tipo_parceiro" [interfaceOptions]="customAlertOptions"
                        interface="action-sheet" placeholder="Selecione..">
                <ion-select-option value="movel">Movel</ion-select-option>
                <ion-select-option value="fixo">Fixo</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngIf="form.controls['tipo_parceiro'].dirty && !form.controls['tipo_parceiro'].valid">
            <p *ngIf="form.controls['tipo_parceiro'].errors">* Obrigatório</p>
        </div>



        <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input required  name="senha"  formControlName="senha" type="password" clearInput
                       clearOnEdit="false">

            </ion-input>
        </ion-item>

        <div *ngIf="form.controls['senha'].dirty && !form.controls['senha'].valid">
            <p *ngIf="form.controls['senha'].errors">* Minimo 6 caracteres</p>
        </div>

        <ion-button color="success" type="submit" [disabled]="!form.valid" expand="block">Cadastrar
        </ion-button>

    </form>
</ion-content>
