<ion-content class="aviso-erro">
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size-sm="8" size-md="4" size-lg="3" size-xl="3">
                <form  id="erro" [formGroup]="form" (ngSubmit)="loginAction()">

                    <h1 class="ion-text-center">
                        <ion-icon id="person" name="person"></ion-icon>
                    </h1>

                    <div padding>
                        <ion-item>
                            <ion-icon slot="start" name="mail" color="success"></ion-icon>
                            <ion-input name="email"
                                       type="email"
                                       formControlName="email"
                                       value="ender@gmail.com"
                                       placeholder="seu@email.com"
                                       clearInput clearOnEdit="false">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
                            <p  *ngIf="form.controls['email'].errors.InvalidEmail">* Email Invalido</p>
                        </div>

                        <ion-item>
                            <ion-icon slot="start" name="lock-closed" color="success"></ion-icon>
                            <ion-input name="senha"
                                       formControlName="senha"
                                       type="password"
                                       value="teste01"
                                       placeholder="Senha"
                                       clearInput clearOnEdit="false">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="form.controls['senha'].dirty && !form.controls['senha'].valid">
                            <p *ngIf="form.controls['senha'].errors">* Mínimo 6 caracteres</p>
                        </div>
                    </div>
                    <div>
                        <ion-button color="success" type="submit" [disabled]="!form.valid" expand="block">Login
                        </ion-button>
                    </div>
                </form>


                <ion-row>
                    <ion-col class="ion-text-center">
                        <h6><a routerLink='/esqueceu-senha' routerDirection="back">Esqueceu Senha ?</a></h6>
                    </ion-col>
                    <ion-col>
                        <h6> Não Possui Conta <a routerLink='/cadastro'>Cadastre-se</a></h6>
                    </ion-col>
                </ion-row>

                <div *ngIf="isLoggedIn === true">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle>Hi, {{users.name}}</ion-card-subtitle>
                            <ion-card-title>{{users.email}}</ion-card-title>
                        </ion-card-header>
                        <img src="{{users.picture.data.url}}" width="100" alt="{{users.name}}"/>
                        <ion-card-content>
                            <p>
                                <ion-button expand="full" color="secondary" (click)="logoutFace()">
                                    Logout
                                    <ion-icon name="log-out"></ion-icon>
                                </ion-button>
                            </p>
                        </ion-card-content>
                    </ion-card>
                </div>

                <div *ngIf="isLoggedIn === false">
                    <ion-button expand="full" color="primary" (click)="fbLogin()">
                        Login Facebook
                        <ion-icon slot="start" name="logo-facebook"></ion-icon>
                    </ion-button>

                    <ion-button expand="full" color="danger" (click)="googleLogin()">
                        Login Google
                        <ion-icon slot="start" name="logo-google"></ion-icon>
                    </ion-button>
                </div>

            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
