<ion-header>
    <ion-toolbar [color]="util.networkStatus && util.networkStatus.connected ? 'primary':'danger'">
        <app-menu-button slot="start" menu="main-menu"></app-menu-button>
        <ion-title>Você
            Esta {{util.networkStatus && util.networkStatus.connected ? 'Conectado' : 'Offline'}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!--    <ion-text>Conexão Status:{{networkStatus && networkStatus.connected ? 'Conectado' : 'Offline'}}</ion-text>-->
    <ion-text>Conexão Tipo:{{util.networkStatus | json}}</ion-text>
    <br>

    <!--dados parceiros-->
    <ion-item *ngIf="util.nomeParceiro">Nome: {{util.nomeParceiro}}</ion-item>
    <ion-item *ngIf="util.emailParceiro">Email: {{util.emailParceiro}}</ion-item>
    <ion-item *ngIf="util.cpfParceiro">CPF: {{util.cpfParceiro}}</ion-item>




    <!--    <ion-button (click)="Donwloader(urlAnuncio,titleAnuncio,arquivoAnuncio)">teste downloader</ion-button>-->
    <br>


    <ion-button color="success" (click)="util.getPositicao()">Geolocation (capacitor)</ion-button>
    <br>
    latitude --> {{util.latitude}} <br>
    Logitude --> {{util.longitude}} <br>

    <ion-button color="dark">Set Itens Storage</ion-button>
    <br>
    <!--    <ion-button color="dark" (click)="util.getItem(dados)">get Itens Storage</ion-button>-->
    <br>


    <ion-button color="dark" (click)="util.getkeys()">get keys</ion-button>
    <br>
<!--    <ion-button color="dark" (click)="util.removeItem()">Remove Item Storage</ion-button>-->
    <br>
    <ion-button color="dark" (click)="util.clearStorage()">Limpar Storage</ion-button>
    <br>

    =================================================================================<br>
    <ion-text>dados Storage Array</ion-text>
<!--    <ion-list *ngFor="let dado of getStorage | keyvalue">-->
<!--&lt;!&ndash;        <p>Cod. <strong>{{(dado.id)}}</strong></p>&ndash;&gt;-->

<!--           <p> Anuncio <strong>{{dado.value}}</strong></p>-->
<!--&lt;!&ndash;        <img [src]="dado.url">&ndash;&gt;-->
<!--    </ion-list>-->


    =================================================================================<br>
    <ion-text>Meus Anuncios</ion-text>


    <ion-list *ngIf="ArquivosAnuncios">
        <ng-container *ngIf="ArquivosAnuncios.length>0;else semAnuncios">
            <ion-list *ngFor="let dado of ArquivosAnuncios">
                <p>Cod. <strong>{{dado.idanuncio}}</strong></p>
                <p> Anuncio <strong>{{dado.titulo}}</strong></p>
                <img [src]="dado.url_arquivo">
                <p> Data Inicio <strong>{{dado.data_inicio}}</strong>
                <p> Data Fim <strong>{{dado.data_fim}}</strong></p>
                <p> Quantidades Contratadas <strong>{{dado.qtd_exibicoes_contratadas}}</strong></p><br>
            </ion-list>
        </ng-container>

        <!--parceiros sem anuncios-->
        <ng-template #semAnuncios>
            <ion-item lines="none">Sem ....</ion-item>
        </ng-template>

    </ion-list>

</ion-content>


