<ion-app>
    <ion-split-pane contentId="main-content" disabled="true">
        <ion-menu contentId="main-content" menuId="main-menu" type="overlay">
            <ion-content>
                <ion-header id="inbox-list">
                    <ion-list-header>Usuario - <b> {{util.nomeParceiro}}</b></ion-list-header>
                    <ion-list-header>Email :{{util.emailParceiro}}</ion-list-header>
                    <ion-list-header>Contato :{{util.celularParceiro}}</ion-list-header>
                </ion-header>

                <ion-menu-toggle autohide="false">
                    <ion-list>
                        <ion-item button *ngFor="let page of pages"
                                  [routerLink]="page.url"
                                  [routerDirection]="page.direction">
                            <ion-icon slot="start" [name]="page.icon"></ion-icon>
                            <ion-label>{{ page.text }}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-menu-toggle>

                <ion-fab vertical="bottom" horizontal="start" slot="fixed">
                    <ion-fab-button color="danger">

                        <!--  sair aplicação e reset dados storage-->
                        <app-logout></app-logout>
                        <!--  sair aplicação e reset dados storage-->

                    </ion-fab-button>
                </ion-fab>

            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>
</ion-app>
