<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EsqueceuSenha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="aviso-erro">
  <form id="erro" [formGroup]="form" (ngSubmit)="Recuperar()">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" value="ender@gmail.co" formControlName="email" type="email"
                 placeholder="seu@email.com" clearInput clearOnEdit="false"></ion-input>
    </ion-item>
    <div *ngIf="form.controls['email'].dirty && !form.controls['email'].valid">
      <p *ngIf="form.controls['email'].errors">* Use Email Válido</p>
    </div>

    <ion-button color="success" type="submit" [disabled]="!form.valid" expand="block">Enviar
    </ion-button>

  </form>
</ion-content>
